$body_bg_colour: #003654;
$btn_bg_colour: #bcdae9;
$header_bg_colour: #003654;
$menu_links_colour: #002f4a;
$menu_hover_colour: #000000;
$menu_hover_bg_colour: #ffffff;
$footer_anchor_colour: #ffffff;
$mini_submenu_bg_colour: #dae7ee;
$menu_border_colour: #84bbf3;
$para_font: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
$para_font_size: px-em(15);
$menu_listitem_font_size: px-em(13);